.App {
  display: flex;
  text-align: center;
}

li {
  list-style-type: none;
}

.add-aluno {
  display: flex;
  flex-direction: column;
  border: 5px solid purple;
  background-color: bisque;
  width: 50%;
  height: 95vh;
}

.lista-alunos {
  display: flex;
  flex-direction: column;
  border: 5px solid purple;
  background-color: skyblue;
  width: 50%;
  height: 95vh;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form input {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.btn {
  width: 100px;
}